/* variables */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: Livvic, sans-serif;
  font-weight: 500;
  color: #033962;
}

h3, h4, h5, h6 {
  font-family: Plus Jakarta Sans, sans-serif;
  color: #033962;
}

p {
  font-family: Plus Jakarta Sans, sans-serif;
  color: #033962;
  font-size: 18px;
  font-weight: 400;
}

a {
  color: #033962;
}

/*******************************************************/
header {
  padding: 20px 100px;
  background-color: #fafafa;
}
header nav {
  display: flex;
  align-items: flex-end;
}
header nav .brand {
  display: inline-block;
  border: 2px solid transparent;
  margin: 0;
  padding: 20px;
  margin-right: auto;
  font-size: 20px;
  font-family: Livvic, sans-serif;
  font-weight: 500;
}
header nav ul {
  padding-left: 0;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}
header nav a {
  color: #033962;
  text-decoration: none;
  margin-top: 120px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 16px 20px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 14px;
  border: 2px solid transparent;
}
header nav a:hover {
  background-color: #D4E6F1;
  background-clip: content-box;
}

/*******************************************************/
.intro-container {
  padding: 140px;
}
.intro-container h1 {
  font-size: 56px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.intro-container h2 {
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 300;
  font-size: 28px;
}
.intro-container p {
  margin-top: 70px;
}
.intro-container a:hover {
  background-color: #D4E6F1;
  background-clip: content-box;
  text-decoration: none;
}

.work-container {
  padding: 100px 140px;
  display: flex;
  flex-flow: column;
  gap: 50px;
}
.work-container .cs-list {
  gap: 100px;
  display: flex;
  flex-flow: column;
  flex-flow: column;
}
.work-container .cs-list .cs-container {
  display: flex;
  align-items: flex-start;
}
.work-container .cs-list .cs-container .cs-description {
  display: flex;
  flex-flow: column;
  max-width: 40%;
  margin-right: auto;
}
.work-container .cs-list .cs-container .cs-description p {
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
.work-container .cs-list .cs-container .cs-description h2 {
  font-size: 28px;
  margin-top: 10px;
}
.work-container .cs-list .cs-container .cs-description .work-subheading {
  margin-top: 0;
  font-size: 18px;
}
.work-container .cs-list .cs-container .cs-description .button {
  display: flex;
  margin-top: 40px;
}
.work-container .cs-list .cs-container .cs-description .button a {
  border: 2px solid #033962;
  background-color: #033962;
  color: white;
  font-family: Livvic, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  padding: 12px 16px;
}
.work-container .cs-list .cs-container .cs-description .button a:hover {
  border: 2px dashed transparent;
  background-color: #D4E6F1;
  color: #033962;
}
.work-container .cs-list .cs-container a {
  max-width: 50%;
}
.work-container .cs-list .cs-container a .grow {
  max-width: 100%;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.work-container .cs-list .cs-container a .grow:hover {
  transform: scale(1.05);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*******************************************************/
.about-intro {
  padding: 100px 140px;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 100px;
}
.about-intro img {
  max-width: 250px;
}
.about-intro h1 {
  font-size: 42px;
}
.about-intro a:hover {
  background-color: #D4E6F1;
  background-clip: content-box;
}

.about-details {
  padding: 0px 140px;
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
}
.about-details .skills-and-interests {
  max-width: 50%;
}
.about-details .education {
  max-width: 50%;
}
.about-details .education .uci {
  margin-bottom: 20px;
}
.about-details .education .uci p {
  padding: 0;
  margin: 0;
}
.about-details .education .ucla p {
  padding: 0;
  margin: 0;
}

.about-more {
  padding: 100px 140px;
}
.about-more h2 {
  margin-bottom: 30px;
}
.about-more .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.8fr);
  gap: 20px;
}
.about-more .grid-container .grid-img-1, .about-more .grid-container .grid-img-2, .about-more .grid-container .grid-img-3, .about-more .grid-container .grid-img-4 {
  max-width: 100%;
  border-radius: 5px;
}
.about-more .grid-container .grid-text-1, .about-more .grid-container .grid-text-2, .about-more .grid-container .grid-text-3, .about-more .grid-container .grid-text-4 {
  max-width: 100%;
}
.about-more .grid-container .grid-text-1 h3, .about-more .grid-container .grid-text-2 h3, .about-more .grid-container .grid-text-3 h3, .about-more .grid-container .grid-text-4 h3 {
  color: #033962;
  margin: 0;
}

/*******************************************************/
article h1 {
  font-size: 48px;
  margin-bottom: 0;
}
article h2 {
  font-size: 24px;
}
article p {
  font-size: 20px;
  font-weight: 400;
}
article li {
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #033962;
}
article a {
  color: #033962;
  text-decoration: underline;
}
article a:hover {
  background-color: #D4E6F1;
}
article .cs-title {
  padding: 100px 140px;
}
article .cs-title p {
  font-size: 24px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
}
article .cs-title .cs-title-details p {
  font-size: 18px;
  margin: 15px 0px;
}
article .yelp-cover-img {
  padding: 100px 140px;
  background-color: #D4E6F1;
  display: flex;
  justify-content: center;
  gap: 50px;
}
article .yelp-cover-img img {
  max-width: 20%;
}
article .uinv-cover-img {
  padding: 100px 140px;
  background-color: #FFEFD2;
}
article .uinv-cover-img .cover-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
article .uinv-cover-img .cover-img-wrapper .browser-mockup {
  max-width: 60%;
}
article .uinv-cover-img .cover-img-wrapper .mobile-mockups {
  display: flex;
  gap: 20px;
  max-width: 40%;
}
article .uinv-cover-img .cover-img-wrapper .mobile-mockups img {
  max-width: 50%;
}
article .cs-overview {
  padding: 100px 140px;
}
article .cs-overview .cs-details-container {
  display: flex;
  justify-content: flex-start;
}
article .cs-overview .cs-details-container .roles-responsibilities {
  margin-right: auto;
}
article .cs-overview .cs-details-container .tools {
  margin-right: auto;
}
article .cs-section-a {
  background-color: #fafafa;
  padding: 100px 140px;
}
article .cs-section-a h3 {
  margin-top: 40px;
}
article .cs-section-a .problem-statement {
  font-size: 24px;
  margin: 40px;
  padding: 0px;
  font-style: italic;
  line-height: 36px;
}
article .cs-section-a .figure-container {
  display: flex;
  align-items: center;
}
article .cs-section-a .figure-wrapper {
  margin: 40px 0px;
  display: flex;
  justify-content: space-evenly;
}
article .cs-section-a .figure-wrapper figure {
  margin: 0;
  max-width: 100%;
}
article .cs-section-a .figure-wrapper figure img {
  max-width: 100%;
  border-radius: 5px;
}
article .cs-section-a .figure-wrapper figure .cs-img-wrapper {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
}
article .cs-section-a .figure-wrapper figure .cs-img-wrapper img {
  max-width: 33%;
  border-radius: 5px;
}
article .cs-section-a .figure-wrapper figure figcaption {
  margin-top: 5px;
  font-family: Plus Jakarta Sans, sans-serif;
  background-color: #D4E6F1;
  color: #033962;
  text-align: center;
}
article .cs-section-a .figure-wrapper .yelp-personas {
  max-width: 48%;
}
article .cs-section-a .comparisons-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
article .cs-section-a .comparisons-container .var-A {
  border-radius: 5px;
  min-width: 30%;
}
article .cs-section-a .comparisons-container .var-B {
  border-radius: 5px;
  min-width: 30%;
}
article .cs-section-a .embed {
  text-align: center;
}
article .cs-section-a .embed iframe {
  max-width: 100%;
}
article .cs-section-b {
  padding: 100px 140px;
}
article .cs-section-b h3 {
  margin-top: 50px;
}
article .cs-section-b .problem-statement {
  font-size: 24px;
  margin: 40px;
  padding: 0px;
  font-style: italic;
  line-height: 36px;
}
article .cs-section-b .figure-wrapper {
  margin: 40px 0px;
  display: flex;
  justify-content: space-evenly;
}
article .cs-section-b .figure-wrapper figure {
  margin: 0;
  max-width: 100%;
}
article .cs-section-b .figure-wrapper figure img {
  max-width: 100%;
  border-radius: 5px;
  border: 2px solid #fafafa;
}
article .cs-section-b .figure-wrapper figure .cs-img-wrapper {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
}
article .cs-section-b .figure-wrapper figure .cs-img-wrapper img {
  max-width: 31%;
  border-radius: 5px;
}
article .cs-section-b .figure-wrapper figure figcaption {
  margin-top: 5px;
  font-family: Plus Jakarta Sans, sans-serif;
  background-color: #D4E6F1;
  color: #033962;
  text-align: center;
}
article .cs-section-b .figure-wrapper .yelp-navbar {
  max-width: 48%;
}
article .cs-section-b .figure-wrapper .mobile-mockup {
  display: flex;
  gap: 50px;
  justify-content: center;
}
article .cs-section-b .figure-wrapper .mobile-mockup img {
  max-width: 300px;
  border: 2px solid transparent;
}
article .cs-section-b .embed {
  text-align: center;
}
article .cs-section-b .embed iframe {
  max-width: 100%;
}

/*******************************************************/
footer {
  background-color: #fafafa;
  padding: 60px 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
footer h2 {
  font-size: 32px;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer ul li {
  padding: 12px 20px;
  display: inline-block;
  margin: 0;
}
footer ul a {
  color: #033962;
  text-decoration: none;
  margin-top: 120px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 16px 20px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 14px;
  border: 2px solid transparent;
}
footer ul a:hover {
  background-color: #D4E6F1;
  background-clip: content-box;
}

/*******************************************************/
@media (max-width: 992px) {
  header {
    padding: 20px 50px;
  }
  header nav a {
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 12px 16px;
  }
  .intro-container {
    padding: 60px 100px;
  }
  .intro-container h1 {
    font-size: 48px;
  }
  .intro-container h2 {
    font-size: 24px;
  }
  .work-container {
    padding: 60px 100px;
  }
  .work-container .cs-list .cs-container {
    flex-flow: column;
    gap: 40px;
  }
  .work-container .cs-list .cs-container .cs-description {
    max-width: 100%;
  }
  .work-container .cs-list .cs-container .cs-description p {
    font-size: 14px;
  }
  .work-container .cs-list .cs-container .cs-description h2 {
    font-size: 24px;
  }
  .work-container .cs-list .cs-container .cs-description .work-subheading {
    font-size: 18px;
  }
  .work-container .cs-list .cs-container .cs-description .button {
    margin-top: 20px;
  }
  .work-container .cs-list .cs-container .cs-description .button a {
    font-size: 14px;
  }
  .work-container .cs-list .cs-container a {
    max-width: 100%;
  }
  .about-intro {
    padding: 60px 100px;
    flex-flow: column;
    align-items: flex-start;
    gap: 20px;
  }
  .about-intro img {
    max-width: 200px;
  }
  .about-intro h1 {
    font-size: 32px;
  }
  .about-details {
    padding: 0px 100px;
    flex-flow: column;
    gap: 40px;
  }
  .about-details .skills-and-interests {
    max-width: 100%;
  }
  .about-details .education {
    max-width: 100%;
  }
  .about-more {
    padding: 60px 100px;
  }
  .about-more .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .about-more .grid-img-2 {
    grid-row: 2/3;
  }
  .about-more .grid-img-3 {
    grid-row: 3/4;
  }
  .about-more .grid-img-4 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  article h1 {
    font-size: 44px;
  }
  article h2 {
    font-size: 20px;
  }
  article p {
    font-size: 16px;
  }
  article li {
    font-size: 16px;
  }
  article .cs-title {
    padding: 60px 100px;
  }
  article .cs-title p {
    font-size: 20px;
  }
  article .yelp-cover-img {
    padding: 60px 100px;
  }
  article .yelp-cover-img img {
    max-width: 30%;
  }
  article .uinv-cover-img {
    padding: 60px 100px;
  }
  article .uinv-cover-img .cover-img-wrapper {
    gap: 30px;
  }
  article .cs-overview {
    padding: 60px 100px;
  }
  article .cs-section-a {
    padding: 60px 100px;
  }
  article .cs-section-a h3 {
    font-size: 16px;
  }
  article .cs-section-a .problem-statement {
    font-size: 20px;
    line-height: 32px;
  }
  article .cs-section-a .figure-container {
    flex-flow: column;
  }
  article .cs-section-a .figure-wrapper {
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }
  article .cs-section-a .figure-wrapper figure {
    max-width: 100%;
  }
  article .cs-section-a .figure-wrapper figure figcaption {
    font-size: 12px;
  }
  article .cs-section-a .figure-wrapper .yelp-personas {
    max-width: 100%;
  }
  article .cs-section-a .comparisons-container {
    gap: 50px;
  }
  article .cs-section-a .embed {
    text-align: center;
  }
  article .cs-section-a .embed iframe {
    max-width: 100%;
  }
  article .cs-section-b {
    padding: 60px 100px;
  }
  article .cs-section-b h3 {
    font-size: 16px;
  }
  article .cs-section-b .problem-statement {
    font-size: 20px;
    line-height: 32px;
  }
  article .cs-section-b .figure-wrapper {
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }
  article .cs-section-b .figure-wrapper figure {
    max-width: 100%;
  }
  article .cs-section-b .figure-wrapper figure figcaption {
    font-size: 12px;
  }
  article .cs-section-b .figure-wrapper .yelp-navbar {
    max-width: 100%;
  }
  article .cs-section-b .figure-wrapper .mobile-mockup img {
    max-width: 40%;
  }
  article .cs-section-b .embed {
    max-width: 100%;
  }
}
@media (max-width: 720px) {
  header {
    padding: 10px 30px;
  }
  header nav {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  header nav .brand {
    margin-right: 0px;
  }
  header nav ul {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  header {
    padding: 10px 30px;
  }
  header nav {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  header nav .brand {
    margin-right: 0px;
    margin-top: 20px;
  }
  header nav ul {
    margin-top: 0;
    justify-content: center;
    flex-flow: column;
  }
  header nav ul li {
    margin: 12px 0px;
  }
  .intro-container {
    padding: 60px 50px;
  }
  .intro-container h1 {
    font-size: 32px;
  }
  .intro-container h2 {
    font-size: 20px;
  }
  .intro-container p {
    font-size: 16px;
  }
  .work-container {
    padding: 60px 50px;
  }
  .about-intro {
    padding: 60px 50px;
  }
  .about-intro h1 {
    font-size: 32px;
  }
  .about-intro p {
    font-size: 16px;
  }
  .about-details {
    padding: 60px 50px;
  }
  .about-details p {
    font-size: 16px;
  }
  .about-more {
    padding: 60px 50px;
  }
  .about-more .grid-container p {
    font-size: 16px;
  }
  article h1 {
    font-size: 32px;
  }
  article h2 {
    font-size: 20px;
  }
  article .cs-title {
    padding: 60px 50px;
  }
  article .cs-title .cs-title-details p {
    font-size: 14px;
  }
  article .yelp-cover-img {
    padding: 60px 50px;
    gap: 20px;
  }
  article .uinv-cover-img {
    padding: 60px 50px;
  }
  article .cs-overview {
    padding: 60px 50px;
  }
  article .cs-overview .cs-details-container {
    flex-flow: column;
  }
  article .cs-section-a {
    padding: 60px 50px;
  }
  article .cs-section-a .problem-statement {
    font-size: 20px;
    line-height: 30px;
  }
  article .cs-section-a .comparisons-container {
    flex-flow: column;
  }
  article .cs-section-b {
    padding: 60px 50px;
  }
  footer {
    padding: 30px 50px;
  }
  footer h2 {
    font-size: 28px;
  }
  footer ul {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=styles.css.map */