/* variables */
$primaryColor: #033962;
$secondaryColor: #D4E6F1;
$accentColor: #ffa600;
$accentColorLight: #FFEFD2;
$lightColor: #fafafa;
$textColor: #033962;
$primaryFont: Plus Jakarta Sans, sans-serif;
$headerFont: Livvic, sans-serif;
$sectionPadding: 100px 140px;
$sectionPaddingMed: 60px 100px;
$sectionPaddingSm: 80px 50px;
$border: 1px solid black;

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-family: $headerFont;
    font-weight: 500;
    color: $textColor;
}
h3, h4, h5, h6 {
    font-family: $primaryFont;
    color: $textColor;
}
p {
    font-family: $primaryFont;
    color: $textColor;
    font-size: 18px;
    font-weight: 400;
}
a {
    color: $textColor;
}






header {
    padding: 20px 100px;
    background-color: $lightColor;
    nav {
        display: flex;
        align-items: flex-end;
        .brand {
            display: inline-block;
            border: 2px solid transparent;
            margin: 0;
            padding: 20px;
            margin-right: auto;
            font-size: 20px;
            font-family: $headerFont;
            font-weight: 500;
        }
        ul {
            margin-bottom: 20px;;
            list-style: none;
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
            align-items: center;
        }
        a {
            color: $textColor;
            text-decoration: none;
            margin-top: 120px; 
            margin-left: 20px; 
            margin-right: 20px;
            padding: 16px 20px;
            font-family: $primaryFont;
            font-size: 14px;
            border: 2px solid transparent;
        }
        a:hover {
            background-color: $secondaryColor;
            background-clip: content-box;
        }
    }
}

















.intro-container {
    padding: 140px;
    h1 {
        font-size: 56px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    h2 {
        font-family: $primaryFont;
        font-weight: 300;
        font-size: 28px;
    }
    p {
        margin-top: 70px;
    }
    
    img {
        max-width: 300px;
    }
}
.work-container {
    padding: $sectionPadding;
    display: flex;
    flex-flow: column;
    gap: 50px;
    .cs-list {
        gap: 100px;
        display: flex;
        flex-flow: column;
        flex-flow: column;
        .cs-container {
            display: flex;
            align-items: flex-start;
            .cs-description {
                p {
                    font-family: $primaryFont;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                h2 {
                    font-size: 28px;
                    margin-top: 10px;
                }
                .work-subheading {
                    margin-top: 0;
                    font-size: 18px;
                }
                display: flex;
                flex-flow: column;
                max-width: 40%;
                margin-right: auto;
                .button {
                    display: flex;
                    margin-top: 40px;
                    a {
                        border: 2px solid $primaryColor;
                        background-color: $primaryColor;
                        color: white;
                        font-family: $headerFont;
                        font-size: 16px;
                        font-weight: 500;
                        text-decoration: none;
                        display: block;
                        border-radius: 5px;
                        padding: 12px 16px;
                    }
                    a:hover {
                        border: 2px dashed transparent;
                        background-color: $secondaryColor;
                        color: $textColor;
                    }
                }
            }
            a {
                max-width: 50%;
                .grow {
                    max-width: 100%;
                    border-radius: 10px;
                    transition: all .2s ease-in-out;
                }
                .grow:hover {
                    transform: scale(1.05);
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }
            }
            
            
        }
    }
}


/* About styling */
.about-intro {
    padding: $sectionPadding;
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 100px;
        img {
            max-width: 250px;
        }
        h1 {
            font-size: 42px;
        }
}

.about-details {
    padding: 0px 140px;
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    .skills-and-interests {
        max-width: 50%;
    }
    .education {
        max-width: 50%;
        .uci {
            p {
                padding: 0;
                margin: 0;
            }
            margin-bottom: 20px;
        }
        .ucla {
            p {
                padding: 0;
                margin: 0;
            }
        }
    }
}

.contact-info {
    padding: $sectionPadding;
    display: flex;
    flex-flow: column;
    align-items: center;
    h2 {
        a {
            color: $accentColor;
            text-decoration: none;
            border: 1px solid transparent;
        }
        a:hover {
            border: 1px dashed $accentColor;
            border-radius: 5px;
        }
    }
}
.about-more {
    padding: $sectionPadding;
    h2 {
        margin-bottom: 30px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 0.8fr);
        gap: 20px;
        .grid-img-1, .grid-img-2, .grid-img-3, .grid-img-4 {
            max-width: 100%;
            border-radius: 5px;
        }
        .grid-text-1, .grid-text-2, .grid-text-3, .grid-text-4 {
            max-width: 100%;
            h3 {
                color: $textColor;
                margin: 0;
            }
        }
    }
}










/* case study styling */
article {
    h1 {
        font-size: 48px;
        margin-bottom: 0;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
        font-weight: 400;
    }
    li {
        font-family: $primaryFont;
        font-size: 20px;
        font-weight: 400;
        color: $textColor;
    }
    a {
        color: $textColor;
        text-decoration: underline;
    }
    a:hover {
        background-color: $secondaryColor;
    }
    .cs-title {
        padding: $sectionPadding;
        p {
            font-size: 24px;
            font-family: $primaryFont;
            font-weight: 400;
            margin-bottom: 50px; 
        }
        .cs-title-details {
            p {
                font-size: 18px;
                margin: 15px 0px;
            }
        }
        
    }
    .yelp-cover-img {
        padding: $sectionPadding;
        background-color: $secondaryColor;
        display: flex;
        justify-content: center;
        gap: 50px;  
        img {
            max-width: 20%;
        }
    }
    .uinv-cover-img {
        padding: $sectionPadding;
        background-color: $accentColorLight;
        .cover-img-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            .browser-mockup {
                max-width: 60%;
            }
            .mobile-mockups {
                display: flex;
                gap: 20px;
                max-width: 40%;
                img {
                    max-width: 50%;
                }
            }
        }
    }
    .cs-overview {
        padding: $sectionPadding;
        .cs-details-container {
            display: flex;
            justify-content: flex-start;
            .roles-responsibilities {
                margin-right: auto;
            }
            .tools {
                margin-right: auto;
            }
        }
    }
    .cs-section-a {
        background-color: $lightColor;
        padding: $sectionPadding;
        h3 {
            margin-top: 40px;
        }
        .problem-statement {
            font-size: 24px;
            margin: 40px;
            padding: 0px;
            font-style: italic;
            line-height: 36px;
        }
        .figure-container {
            display: flex;
            align-items: center;
        }
        .figure-wrapper {
            margin: 40px 0px;
            display: flex;
            justify-content: space-evenly;
            figure {
                margin: 0;
                max-width: 100%;
                img {
                    max-width: 100%;
                    border-radius: 5px;
                }
                .cs-img-wrapper {
                    display: flex;
                    max-width: 100%;
                    justify-content: space-around;
                    img {
                        max-width: 33%;
                        border-radius: 5px;
                    }
                }
                figcaption {
                    margin-top: 5px;
                    font-family: $primaryFont;
                    background-color: $secondaryColor;
                    color: $textColor;
                    text-align: center;
                }
            }
            .yelp-personas {
                max-width: 48%;
            }
        }
        .comparisons-container {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 40px;
            .var-A {
                border-radius: 5px;
                min-width: 30%;
            }
            .var-B {
                border-radius: 5px;
                min-width: 30%; 
            }
        }
        .embed {
            text-align: center;
            iframe {
            max-width: 100%;
            }
        }
    }
    .cs-section-b {
        padding: $sectionPadding;
        h3 {
            margin-top: 50px;
        }
        .problem-statement {
            font-size: 24px;
            margin: 40px;
            padding: 0px;
            font-style: italic;
            line-height: 36px;
        }
        .figure-wrapper {
            margin: 40px 0px;
            display: flex;
            justify-content: space-evenly;
            figure {
                margin: 0;
                max-width: 100%;
                img {
                    max-width: 100%;
                    border-radius: 5px;
                    border: 2px solid $lightColor;
                }
                .cs-img-wrapper {
                    display: flex;
                    max-width: 100%;
                    justify-content: space-around;
                    img {
                        max-width: 31%;
                        border-radius: 5px;
                    }
                }
                figcaption {
                    margin-top: 5px;
                    font-family: $primaryFont;
                    background-color: $secondaryColor;
                    color: $textColor;
                    text-align: center;
                }
            }
            .yelp-navbar {
                max-width: 48%;
            }
            .mobile-mockup {
                display: flex;
                gap: 50px;
                justify-content: center;
                img {
                    max-width: 300px;
                    border: 2px solid transparent;
                }
            }
        }
        .callout {
            border-left: 3px solid $accentColor;
            font-size: 28px;
            margin: 50px;
            padding-left: 20px;
        }
        .embed {
            text-align: center;
            iframe {
            max-width: 100%;
        }
        }
        
    }
   
}







footer {
    background-color: $lightColor;
    padding: 50px 100px 100px 60px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 32px;
    }
    ul { 
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            padding: 12px 20px;
            display: inline-block;
        }

        a {
            color: $textColor;
            text-decoration: none;
            margin-top: 120px; 
            margin-left: 20px; 
            margin-right: 20px;
            padding: 16px 20px;
            font-family: $primaryFont;
            font-size: 14px;
            border: 2px solid transparent;
        }
        a:hover {
            background-color: $secondaryColor;
            background-clip: content-box;
        }
    }
}



